:root {
	--ts: all .15s linear .1s;
}

/* When visited a website
 * no decoration
 */
a:link, a:visited {
    display: block;
    color: black;
    text-decoration: none;
}

a:active {color: grey}

/* On hover */
.assets_btns:hover span {padding-left: 10%;}

@media only screen and (max-width: 683px) {
	.assets_btns:hover span {padding-left: 17.5%}
}

/* Show the symbol */
.assets_btns:hover span:before {
    opacity: 1;
    left: 0;
}

.os_website:hover,
.video_website:hover,
.assets_btns:hover {
    opacity: 0.75;
    box-shadow: 5px 5px 5px grey;
    /* Default */
	transition: var(--ts);
	/* Opera */
	-o-transition: var(--ts);
	/* Firefox */
	-moz-transition: var(--ts);
	/* Safari Chrome */
	-webkit-transition: var(--ts);
	background-color: rgb(240, 240, 240);
}
