a:link, a:visited {
    display: block;
    color: black;
    text-decoration: none;
}

a:active {
    color: grey
}

.RepoUpdate_btn:hover span {
    padding-left: 10%;
}

#repo:hover span:before, 
#update:hover span:before {
    opacity: 1;
    left: 0;
}

.video_website:hover 
.RepoUpdate_btn:hover {
    opacity: 0.75;
    background-color: lightgrey;
    box-shadow: 5px 5px 5px grey;
    transition: all .15s linear .2s;
    -webkit-transition: all .15s linear .2s;
}
