#home, .RepoUpdate_btn {
    padding: 2%;
    font-size: 20px;
    text-align: left;
    border-radius: 10px;
    border: 0.5px solid lightgrey;
}

.RepoUpdate_btn {
    background-color: whitesmoke;
}

#home {
    cursor: default;
    background-color: rgb(233, 233, 233);
} 

.RepoUpdate_btn span {
    position: relative;
    transition: .2s;
    -webkit-transition: .2s;
}

.RepoUpdate_btn span:before {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    left: -5px;
    transition: .2s;
    -webkit-transition: .2s;
}

.video_website {
    padding: 0.5%;
    margin-right: 50%;
    border-radius: 5px;
    border: 0.5px solid lightgrey;
    background-color: rgb(190, 190, 190);
}
