:root {
	--bd: 0.1px solid rgb(200, 200, 200);
}

/* The structure of 
 * Home, Repo Upd button 
 */
#home, .assets_btns {
    padding: 2%;
    font-size: 20px;
    text-align: left;
	border: var(--bd);
    border-radius: 10px;
}

/* Home btn color */
#home {
	cursor: default;
	background-color: rgb(233, 233, 233);
}

/* Assets btns color */
.assets_btns {
	background-color: whitesmoke;
}

/* Animation of assets btns */
.assets_btns span {
    /* Padding span */
	padding-top: 4%;
	padding-bottom: 4%;
	padding-right: 80%;
	/* Position relative */
	position: relative;
    -webkit-transition: .2s;
}

/* A btn's symbol 
 * structure
 * (invisible) 
 */
.assets_btns span:before {
    /* Insert a symbol */
	content: '\00bb';
    position: absolute;
    /* Invisible */
	opacity: 0;
    /* Append from left */
	left: -5px;
    transition: .2s;
    -webkit-transition: .2s;
}

.os_website, .video_website {
	padding: 0.5%;
    border: var(--bd);
    border-radius: 5px;
    background-color: rgb(210, 210, 210);
}

@media only screen and (max-width: 683px) {
	.os_website, .video_website {
		padding: 1.5%; 
		font-size: 18px;
	}
	.assets_btns span {padding-right: 60%;}
}
